@import "./variables.scss";
.card {
  padding: 34px;
  padding-top: 22px;
  border-radius: 10px;
  margin: 1.5rem;
  box-shadow: 0px 8px 25px 0px $lightGray;
  &:first-of-type {
    background-image: url(../assets/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: 90% 0%;
  }
  .header {
    display: flex;
    align-items: center;
    img {
      border-radius: 50%;
      margin-right: 1rem;
      width: 2.5rem;
    }
    div {
      h2 {
        font-size: 0.9rem;
        font-weight: 500;
      }
      p {
        opacity: 0.5;
      }
    }
  }
  .blurb {
    margin: 0.8rem 0;
    font-size: 20px;
    font-weight: 500;
  }
  .quote {
    opacity: 0.5;
    font-size: 13px;
    line-height: 1.2rem;
    font-weight: 400;
    padding-right: 15px;
  }
}

// stylings per individual card
.purple,
.grey,
.dark-grey {
  color: $white;
}
.purple,
.grey,
.white {
  .header {
    img {
      border: 3px solid rgba($white, 0.2);
    }
  }
}

.purple {
  background-color: $moderateViolet;
}

.white {
  color: $veryDarkGrayishBlue;
  background-color: $white;
  .quote {
    font-weight: 600;
  }
}
.grey {
  background-color: $veryDarkGrayishBlue;
}
.dark-grey {
  background-color: $veryDarkBlackishBlue;
  .header {
    img {
      border: 3px solid $moderateViolet;
    }
  }
}

//styling for grid
@media (min-width: 481px) {
  .card{
    margin: 1rem;
    .quote{
      padding-right: 0px;
    }
  }

  .id1 {
    grid-area: one;
  }
  .id2 {
    grid-area: two;
  }
  .id3 {
    grid-area: three;
  }
  .id4 {
    grid-area: four;
  }
  .id5 {
    grid-area: five;
  }
}
