@import "./variables.scss";
.card{
    // background: $moderateViolet;
    padding: 33px;
    padding-top: 22px;
    border-radius: 10px;
    margin: 1.5rem;
    &:first-of-type{
        background-image: url(../assets/bg-pattern-quotation.svg);
        background-repeat: no-repeat;
        background-position: 90% 0%;
    }
    .header{
        display: flex;
        align-items: center;
        img{
            border-radius: 50%;
            border: 3px solid rgba($moderateViolet, .2);
            margin-right: 1rem;
            width: 2.5rem;
        }
        div{
            h2{
                font-size: .9rem;
            }
            p{
                opacity: .5;
            }
        }
    }
    .blurb{
        margin: .8rem 0;
        font-weight: 600;
        font-size: 20px;
    }
    .quote{
        opacity: .5;
        font-size: 14px;
        line-height: 1.1rem;
    }


}