@media (min-width: 481px) {
  .grid {
    padding: 5rem 0;
    width: 75%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "one one two five"
      "three four four five";
  }
}
